body{
    text-align: center;
    font-family: Comic Sans MS;
}

.logosize{
    width: 100px;
}

.portadasize{
    width: 100%;
    height: 350px;
}

.cuadrosize{
    width: 450px;
    margin: 0 auto;
}

.warnings{
    width: 450px;
    text-align: center;
    margin: 0 auto;
    color: red;
    font-weight: bold;
}